:root{
    --primary-color: #white;
    --secondary-color: #ff0000;
    --blue:gray;
}




.header {
    background-color: azure;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}

title {
    text-align: center  ;
    font-size: 20px;
}

